# BEGIN ANSIBLE MANAGED BLOCK
global
    maxconn 1000

defaults
    log     global
    mode    tcp
    retries 2
    timeout client  30m
    timeout connect 4s
    timeout server  30m
    timeout check   5s
listen stats
    mode http
    bind *:9000
    stats enable
    stats uri /

frontend ft_postgresql_17
    bind    *:5000
    default_backend bk_postgres_17

frontend ft_postgresql_readonly_17
    bind    *:5001
    default_backend bk_postgres_readonly_17

frontend ft_postgresql_18
    bind    *:5100
    default_backend bk_postgres_18

frontend ft_postgresql_readonly_18
    bind    *:5101
    default_backend bk_postgres_readonly_18


backend bk_postgres_17
    option  httpchk OPTIONS /leader
    server coordinator-01    192.168.4.111:5432  check port 8008
    server coordinator-02    192.168.4.112:5432  check port 8008
    server coordinator-03    192.168.4.113:5432  check port 8008

backend bk_postgres_readonly_17
    option  httpchk OPTIONS /leader
    server worker-01    192.168.4.114:5432  check port 8008
    server worker-02    192.168.4.115:5432  check port 8008
    server worker-03    192.168.4.116:5432  check port 8008
    server worker-04    192.168.4.117:5432  check port 8008

backend bk_postgres_18
    option  httpchk OPTIONS /leader
    server coordinator-01    192.168.4.111:5433  check port 8009
    server coordinator-02    192.168.4.112:5433  check port 8009
    server coordinator-03    192.168.4.113:5433  check port 8009

backend bk_postgres_readonly_18
    option  httpchk OPTIONS /leader
    server worker-01    192.168.4.114:5433  check port 8009
    server worker-02    192.168.4.115:5433  check port 8009
    server worker-03    192.168.4.116:5433  check port 8009
    server worker-04    192.168.4.117:5433  check port 8009

# END ANSIBLE MANAGED BLOCK